.xerxes-select__selection {
  position: relative;
  min-width: 80px;
  font-size: 12px;
  color: #3f536e;
  margin-left: 10px;
}

.xerxes-select__value {
  line-height: 28px;
  padding: 0 30px 0 12px;
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all .3s ease;
  cursor: pointer;
  position: relative;
}
.xerxes-select__value>i {
  position: absolute;
  font-size: 12px;
  right: 10px;
  transition: all .4s ease;
}

.xerxes-select__value.down>i {
  transform: rotate(180deg);
}
.xerxes-select__value:hover {
  border-color: rgba(91, 60, 196, .6);
}

.xerxes-select__list {
  position: absolute;
  top: 34px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  z-index: 100;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 4px;
  animation: slideUp 400ms ease;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.xerxes-select__item {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  word-wrap: normal;
  width: 100%;
  padding: 6px 12px;
  text-align: left;
  white-space: nowrap;
  transition: all .3s ease;
  cursor: pointer;
}

.xerxes-select__item:hover {
  background-color: #ecf2fc;
}
.xerxes-select__item.active {
  background-color: #f7f7f7;
}